<h1>Build Your Gallery Profile!</h1>
<%= form_for @gallery do |f| %>
  <% if @gallery.errors.any? %>
    <div class="error_messages">
      <h2>Need more info to get you set up!</h2>
      <ul>
        <% for message in @gallery.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street_address %>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code, "Primary Area (Zip-Code)" %>
    <%= f.text_field :zip_code, value: current_user.zip_code %>
  </div>
  <div class="field">
    <%= f.label :website, "Website Link (if applicable)" %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :genres, "Genres Supported (List)" %>
    <%= f.text_field :genres %>
  </div>
  <div class="field">
    <%= f.label :days_open, "Days Open for Visitors" %>
    <%= f.text_field :days_open %>
  </div>
  <div class="field">
    <%= f.label :hours_open, "Business Hours" %>
    <%= f.text_field :hours_open %>
  </div>
  <div class="field">
    <%= f.label :img_uri, "Profile Image URI" %>
    <%= f.text_field :img_uri %>
  </div>
  <div class="actions"><%= f.submit "Submit Home Page Profile!" %></div>
<% end %>
